<ul class="nav">    
    <li><a href="@Url.Content("~/home/")">Начальная страница</a></li>
    <li><a href="@Url.Content("~/Test/")">Все тесты</a></li>   
    <li><a href="@Url.Content("~/Result/")">Все результаты</a></li>   
</ul>                                   
